.main_nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.main_nav_list {
	margin: 1rem;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 0;
}

.main_nav_link {
	display: flex;
	justify-content: flex-start;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	color: #343a40;
	padding: 1rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.dropdown_menu {
	/* position: absolute; */
	width: 20rem;
	top: 20rem;
	list-style: none;
	text-align: start;
}

.dropdown_menu_list {
	background: #f8f9fa;
	cursor: pointer;
	text-transform: uppercase;
	list-style: none;
}

.dropdown_menu_list:hover {
	background: #e9ecef;
}
.dropdown_menu_listitem {
}
.dropdown_menu.clicked {
	display: none;
}

.dropdown_link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #212529;
	padding: 16px;
}
